html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.unselectable {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */       
}

.dragArea {
  min-height: 90%;
}

.dragArea::after {
  content: "\A";
  white-space: pre;
}

.main {
  margin-top:35px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.left {
  width: 50%;
  height: 94vh;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
  padding: 1px 1px 15px 15px;
  overflow-x: hidden;
  scroll-behavior: smooth; 
}


.right {
  width: 50%;
  height: 94vh;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2), 0 0 10px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
  overflow-x: hidden;
  padding: 1px 1px 15px 15px;
  scroll-behavior: smooth;  
}


.paragraph[color="error"] {
  background-color: red;
}

.paragraph {
  padding: 3px 3px 3px 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  width: 95%;
  white-space: pre-wrap;
  -webkit-flex: auto;
  flex: 1 1 auto;
  cursor: move;
  background-color: #E7F909;
  margin: 0px 0px 15px 0px;
}

.navbar {
  position: absolute;
  top:0px;
  left:0px;
  width: 100%;
  height: 32px;
  vertical-align: middle;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  background-color: #1F8FC4;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.button {
  width: 100px;
  height: 25px;
  border-radius: 3px;
  margin-top: 2px;
  margin-left: 20px;
  text-align: center;
  z-index: 999;
  background-color: #E7F909;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;  
}

.inputbox {
  margin-left: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
  width:200px;
  color: lightgrey;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  background-color: white;
  background-color: -moz-field;
  border: 1px solid darkgray;
  box-shadow: 1px 1px 1px 0 lightgray inset;  
  font: -moz-field;
  font: -webkit-small-control;
  padding: 2px 3px;   
  z-index: 999;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}


/* Background Text */

#background {
  position: absolute;
  top: 10%;
  z-index: -1;
  display: block;
  min-width: 40%;
}

#bg-text {
  color: lightgrey;
  font-size: 120px;
  -ms-transform:rotate(300deg); /* IE 9 */
  -moz-transform:rotate(300deg); /* Firefox */
  -webkit-transform:rotate(300deg); /* Safari and Chrome */
  -o-transform:rotate(300deg); /* Opera */
  transform: rotate(300deg);
}


/* Context Menu */

.ctx {
  position: relative;
}

.ctx-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: .9rem;
  color: #373a3c;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: .25rem;
  -moz-box-shadow: 0 0 5px #CCC;
  -webkit-box-shadow: 0 0 5px #CCC;
  box-shadow: 0 0 5px #CCC
}

.ctx-divider {
  height: 1px;
  margin: .5rem 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.ctx-item {
  display: block;
  /*width: 100%;*/
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.5;
  color: #373a3c;
  text-align: inherit;
  white-space: nowrap;
  background: none;
  border: 0;
  cursor: default;
}

.ctx-item:focus,
.ctx-item:hover {
  color: #2b2d2f;
  text-decoration: none;
  background-color: #f5f5f5;
  cursor: normal;
}

.ctx-item.active,
.ctx-item.active:focus,
.ctx-item.active:hover {
  color: #fff;
  text-decoration: none;
  background-color: #0275d8;
  outline: 0;
}

.ctx-item.disabled,
.ctx-item.disabled:focus,
.ctx-item.disabled:hover {
  color: #818a91;
}

.ctx-item.disabled:focus,
.ctx-item.disabled:hover {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: "progid:DXImageTransform.Microsoft.gradient(enabled = false)";
}

.open>.ctx-menu {
  display: block;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);  
}

.open>a {
  outline: 0;
}

.ctx-menu-right {
  right: 0;
  left: auto;
}

.ctx-menu-left {
  right: auto;
  left: 0;
}

.ctx-header {
  display: block;
  padding: 3px 20px;
  font-size: .9rem;
  line-height: 1.5;
  color: #818a91;
  white-space: nowrap;
}

.ctx-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990;
}

.pull-right>.ctx-menu {
  right: 0;
  left: auto;
}

.ctx-menu-container {
  position: fixed;
  padding: 0;
  border: 1px solid #bbb;
  background-color: whitesmoke;
  z-index: 99999;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}